In [23]:
import os 
import pandas as pd 
import json

In [ ]:
#Agg_transaction -- data extraction

path = r"C:/Users/haris/.vscode/pulse/pulse/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

clm={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
agg_trans = pd.DataFrame(clm)

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1845307.47
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,12138655.30
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,452507.17
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,10601.42
4,andaman-&-nicobar-islands,2018,1,Others,256,184689.87
...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,389286175909.00
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1361927136312.00
5031,west-bengal,2024,4,Recharge & bill payments,76043195,57534056540.00
5032,west-bengal,2024,4,Financial Services,2352084,847296537.00
5033,west-bengal,2024,4,Others,421806,505364108.00

In [ ]:
# agg_transaction- normalization



agg_trans["State"] = agg_trans["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
agg_trans["State"] = agg_trans["State"].str.replace("-"," ")
agg_trans["State"] = agg_trans["State"].str.title()
agg_trans["State"] = agg_trans['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

display(agg_trans)

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1845307.47
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,12138655.30
2,Andaman & Nicobar,2018,1,Merchant payments,298,452507.17
3,Andaman & Nicobar,2018,1,Financial Services,33,10601.42
4,Andaman & Nicobar,2018,1,Others,256,184689.87
...,...,...,...,...,...,...
5029,West Bengal,2024,4,Merchant payments,655100809,389286175909.00
5030,West Bengal,2024,4,Peer-to-peer payments,493217788,1361927136312.00
5031,West Bengal,2024,4,Recharge & bill payments,76043195,57534056540.00
5032,West Bengal,2024,4,Financial Services,2352084,847296537.00
5033,West Bengal,2024,4,Others,421806,505364108.00

In [50]:
agg_trans.to_csv(r"C:\Users\haris\phonepe project\phone_pe files\agg_trans.csv", index=False)

In [26]:
#Aggregated User -- data extraction

path2 =  "C:/Users/haris/.vscode/pulse/pulse/pulse/data/aggregated/user/country/india/state/"
            
agg_user_list = os.listdir(path2)

columns2 = {"State":[], "Year":[], "Quarter":[], "Brands":[],"user_count":[], "Percentage":[]}

for state in agg_user_list:
        cur_State = path2+state+"/"
        agg_year_list = os.listdir(cur_State)
        
        for year in agg_year_list:
            cur_Year = cur_State+year+"/"
            agg_file_list = os.listdir(cur_Year)
            
            for file in agg_file_list:
                cur_files = cur_Year+file
                data = open(cur_files,"r")
                B = json.load(data)

                try:

                    for i in B["data"]["usersByDevice"]:
                        brand = i["brand"]
                        count = i["count"]
                        percentage = i["percentage"]
                        columns2["Brands"].append(brand)
                        columns2["user_count"].append(count)
                        columns2["Percentage"].append(percentage)
                        columns2["State"].append(state)
                        columns2["Year"].append(year)
                        columns2["Quarter"].append(int(file.strip(".json")))
                
                except:
                    pass

Agg_User = pd.DataFrame(columns2)

Agg_User["State"] = Agg_User["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_User["State"] = Agg_User["State"].str.replace("-"," ")
Agg_User["State"] = Agg_User["State"].str.title()
Agg_User['State'] = Agg_User['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

display(Agg_User)

                  State  Year  Quarter   Brands  user_count  Percentage
0     Andaman & Nicobar  2018        1   Xiaomi        1665        0.25
1     Andaman & Nicobar  2018        1  Samsung        1445        0.21
2     Andaman & Nicobar  2018        1     Vivo         982        0.15
3     Andaman & Nicobar  2018        1     Oppo         501        0.07
4     Andaman & Nicobar  2018        1  OnePlus         332        0.05
...                 ...   ...      ...      ...         ...         ...
6727        West Bengal  2022        1   Lenovo      330017        0.02
6728        West Bengal  2022        1  Infinix      284678        0.01
6729        West Bengal  2022        1     Asus      280347        0.01
6730        West Bengal  2022        1    Apple      277752        0.01
6731        West Bengal  2022        1   Others     2196334        0.10

[6732 rows x 6 columns]

In [51]:
Agg_User.to_csv("C:/Users/haris/phonepe project/phone_pe files/agg_User.csv", index=False)

In [27]:
# aggregate Insurance-- data extraction

path = "C:/Users/haris/.vscode/pulse/pulse/pulse/data/aggregated/insurance/country/india/state/"
Agg_state_list = os.listdir(path)

clm1 = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Transaction_type': [],
    'Transaction_count': [],
    'Transaction_amount': []
}

for state in Agg_state_list:
    state_path = os.path.join(path, state)
    if not os.path.isdir(state_path):
        continue

    for year in os.listdir(state_path):
        year_path = os.path.join(state_path, year)
        if not os.path.isdir(year_path):
            continue

        for file in os.listdir(year_path):
            if not file.endswith(".json"):
                continue

            file_path = os.path.join(year_path, file)

            try:
                with open(file_path, "r", encoding="utf-8") as f:
                    D = json.load(f)

                if "data" in D and "transactionData" in D["data"]:
                    for txn in D["data"]["transactionData"]:
                        for pi in txn.get("paymentInstruments", []):
                            clm1["State"].append(state)
                            clm1["Year"].append(int(year))
                            clm1["Quarter"].append(int(file.replace(".json", "")))
                            clm1["Transaction_type"].append(pi["type"])
                            clm1["Transaction_count"].append(pi["count"])
                            clm1["Transaction_amount"].append(pi["amount"])

            except Exception as e:
                print(f"Error in file: {file_path} → {e}")

Agg_Ins = pd.DataFrame(clm1)
pd.set_option('display.float_format', lambda x: '%.2f' % x)


Agg_Ins["State"] = Agg_Ins["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_Ins["State"] = Agg_Ins["State"].str.replace("-"," ")
Agg_Ins["State"] = Agg_Ins["State"].str.title()
Agg_Ins['State'] = Agg_Ins['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

display(Agg_Ins)

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2020,2,TOTAL,6,1360.00
1,Andaman & Nicobar,2020,3,TOTAL,41,15380.00
2,Andaman & Nicobar,2020,4,TOTAL,124,157975.00
3,Andaman & Nicobar,2021,1,TOTAL,225,244266.00
4,Andaman & Nicobar,2021,2,TOTAL,137,181504.00
...,...,...,...,...,...,...
677,West Bengal,2023,4,TOTAL,72712,100365562.00
678,West Bengal,2024,1,TOTAL,79576,104987909.00
679,West Bengal,2024,2,TOTAL,67048,89476633.00
680,West Bengal,2024,3,TOTAL,77158,107451766.00
681,West Bengal,2024,4,TOTAL,91719,120602777.00

In [52]:
Agg_Ins.to_csv("C:/Users/haris/phonepe project/phone_pe files/agg_insurance.csv", index=False)

In [ ]:
# Map Insurance- data extraction

path4 = r"C:/Users/haris/.vscode/pulse/pulse/pulse/data/map/insurance/hover/country/india/state/"
Agg_state_list = os.listdir(path4)
columns4 = {
        "State": [],
        "Year": [],
        "Quarter": [],
        "Districts": [],
        "Transaction_count": [],
        "Transaction_amount": []
    }

for state in Agg_state_list:
    state_path = os.path.join(path4, state)
    if not os.path.isdir(state_path):
        continue

    for year in os.listdir(state_path):
        year_path = os.path.join(state_path, year)
        if not os.path.isdir(year_path):
            continue

        for file in os.listdir(year_path):
            if not file.endswith(".json"):
                continue

            file_path = os.path.join(year_path, file)

            try:
                with open(file_path, "r", encoding="utf-8") as f:
                    E = json.load(f)


                for i in E["data"]["hoverDataList"]:
                    columns4["State"].append(state)
                    columns4["Year"].append(int(year))
                    columns4["Quarter"].append(int(file.replace(".json", "")))
                    columns4["Districts"].append(i["name"])
                    columns4["Transaction_count"].append(i["metric"][0]["count"])
                    columns4["Transaction_amount"].append(i["metric"][0]["amount"])

            except Exception as e:
                    pass


    map_insurance = pd.DataFrame(columns4)

    # Clean state names
    map_insurance["State"] = map_insurance["State"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
    map_insurance["State"] = map_insurance["State"].str.replace("-", " ")
    map_insurance["State"] = map_insurance["State"].str.title()
    map_insurance["State"] = map_insurance["State"].str.replace(
        "Dadra & Nagar Haveli & Daman & Diu",
        "Dadra and Nagar Haveli and Daman and Diu"
    )


display(map_insurance)

,State,Year,Quarter,Districts,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2020,2,south andaman district,3,795.00
1,Andaman & Nicobar,2020,2,nicobars district,3,565.00
2,Andaman & Nicobar,2020,3,north and middle andaman district,1,281.00
3,Andaman & Nicobar,2020,3,south andaman district,35,13651.00
4,Andaman & Nicobar,2020,3,nicobars district,5,1448.00
...,...,...,...,...,...,...
13871,West Bengal,2024,4,alipurduar district,1023,1613143.00
13872,West Bengal,2024,4,paschim bardhaman district,4945,7005851.00
13873,West Bengal,2024,4,nadia district,3807,5031294.00
13874,West Bengal,2024,4,birbhum district,1818,2423290.00
13875,West Bengal,2024,4,purba medinipur district,3559,4439061.00

In [53]:
map_insurance.to_csv("C:/Users/haris/phonepe project/phone_pe files/map_insurance.csv", index=False)

In [1]:
# Map Transaction - data extraction
import os
import json
import pandas as pd


path5 = r"C:/Users/haris/.vscode/pulse/pulse/pulse/data/map/transaction/hover/country/india/state/"

map_tran_list = os.listdir(path5)

columns5= {"State":[], "Year":[], "Quarter":[], "Districts":[], "Transaction_count":[],"Transaction_amount":[] }

for state in map_tran_list:
        cur_State =path5+state+"/"
        agg_year_list = os.listdir(cur_State)

        for year in agg_year_list:
            cur_Year = cur_State+year+"/"
            agg_file_list = os.listdir(cur_Year)

            for file in agg_file_list:
                cur_files = cur_Year+file
                data = open(cur_files,"r")
                E = json.load(data)

                for i in E['data']['hoverDataList']:
                    name = i["name"]
                    count = i["metric"][0]["count"]
                    amount = i["metric"][0]["amount"]
                    columns5["Districts"].append(name)
                    columns5["Transaction_count"].append(count)
                    columns5["Transaction_amount"].append(amount)
                    columns5["State"].append(state)
                    columns5["Year"].append(year)
                    columns5["Quarter"].append(int(file.strip(".json")))

map_transaction = pd.DataFrame(columns5)

    # Clean state names
map_transaction["State"] = map_transaction["State"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
map_transaction["State"] = map_transaction["State"].str.replace("-", " ")
map_transaction["State"] = map_transaction["State"].str.title()
map_transaction["State"] = map_transaction["State"].str.replace(
        "Dadra & Nagar Haveli & Daman & Diu",
        "Dadra and Nagar Haveli and Daman and Diu"
)

    
display(map_transaction)

,State,Year,Quarter,Districts,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,north and middle andaman district,442,9.316631e+05
1,Andaman & Nicobar,2018,1,south andaman district,5688,1.256025e+07
2,Andaman & Nicobar,2018,1,nicobars district,528,1.139849e+06
3,Andaman & Nicobar,2018,2,north and middle andaman district,825,1.317863e+06
4,Andaman & Nicobar,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
20599,West Bengal,2024,4,alipurduar district,15875637,2.099251e+10
20600,West Bengal,2024,4,paschim bardhaman district,56616799,6.968735e+10
20601,West Bengal,2024,4,nadia district,65274337,1.079320e+11
20602,West Bengal,2024,4,birbhum district,36905213,5.778701e+10
20603,West Bengal,2024,4,purba medinipur district,67833775,1.142771e+11

In [54]:
map_transaction.to_csv("C:/Users/haris/phonepe project/phone_pe files/map_transaction.csv", index=False)

In [31]:
# Map user
import os
path6 =  "C:/Users/haris/.vscode/pulse/pulse/pulse/data/map/user/hover/country/india/state/"

map_user_list = os.listdir(path6)

columns6 = {"State":[], "Year":[], "Quarter":[], "Districts":[], "RegisteredUser":[], "AppOpens":[]}

for state in map_user_list:
        cur_State = path6+state+"/"
        map_year_list = os.listdir(cur_State)
        
        for year in map_year_list:
            cur_Year = cur_State+year+"/"
            map_file_list = os.listdir(cur_Year)
            
            for file in map_file_list:
                cur_files = cur_Year+file
                data = open(cur_files,"r")
                F = json.load(data)

                for i in F["data"]["hoverData"].items():
                    district = i[0]
                    registereduser = i[1]["registeredUsers"]
                    appopens = i[1]["appOpens"]
                    columns6["Districts"].append(district)
                    columns6["RegisteredUser"].append(registereduser)
                    columns6["AppOpens"].append(appopens)
                    columns6["State"].append(state)
                    columns6["Year"].append(year)
                    columns6["Quarter"].append(int(file.strip(".json")))

map_user = pd.DataFrame(columns6)

map_user["State"] = map_user["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user["State"] = map_user["State"].str.replace("-"," ")
map_user["State"] = map_user["State"].str.title()
map_user['State'] = map_user['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
display(map_user)

,State,Year,Quarter,Districts,RegisteredUser,AppOpens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
20603,West Bengal,2024,4,alipurduar district,475688,31842355
20604,West Bengal,2024,4,paschim bardhaman district,1468252,80543469
20605,West Bengal,2024,4,nadia district,1861738,98740305
20606,West Bengal,2024,4,birbhum district,1114220,73465525
20607,West Bengal,2024,4,purba medinipur district,1717074,108350777

In [55]:
map_user.to_csv("C:/Users/haris/phonepe project/phone_pe files/map_user.csv", index=False)

In [ ]:
#Top Transaction 

path7 =  "C:/Users/haris/.vscode/pulse/pulse/pulse/data/top/transaction/country/india/state/"

map_user_list = os.listdir(path7)

columns7 = {"State":[], "Year":[], "Quarter":[],  "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in map_user_list:
        cur_State = path7+state+"/"
        top_year_list = os.listdir(cur_State)
        
        for year in top_year_list:
            cur_Year = cur_State+year+"/"
            top_file_list = os.listdir(cur_Year)
            
            for file in top_file_list:
                cur_files = cur_Year+file
                data = open(cur_files,"r")
                G = json.load(data)

                for i in G["data"]["pincodes"]:
                    entityName = i["entityName"]
                    count = i["metric"]["count"]
                    amount = i["metric"]["amount"]
                    columns7["Pincodes"].append(entityName)
                    columns7["Transaction_count"].append(count)
                    columns7["Transaction_amount"].append(amount)
                    columns7["State"].append(state)
                    columns7["Year"].append(year)
                    columns7["Quarter"].append(int(file.strip(".json")))

top_transaction = pd.DataFrame(columns7)

top_transaction["State"] = top_transaction["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction["State"] = top_transaction["State"].str.replace("-"," ")
top_transaction["State"] = top_transaction["State"].str.title()
top_transaction['State'] = top_transaction['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
display(top_transaction)

In [ ]:


top_transaction.to_csv("C:/Users/haris/phonepe project/phone_pe files/top_transaction.csv", index=False)

,State,Year,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,744101,1622,2769297.90
1,Andaman & Nicobar,2018,1,744103,1223,2238041.87
2,Andaman & Nicobar,2018,1,744102,969,3519059.94
3,Andaman & Nicobar,2018,1,744105,685,1298560.95
4,Andaman & Nicobar,2018,1,744104,340,1039715.31
...,...,...,...,...,...,...
9994,West Bengal,2024,4,711101,6753348,10494826024.00
9995,West Bengal,2024,4,700059,6662715,8009476497.00
9996,West Bengal,2024,4,700039,6575693,9018748395.00
9997,West Bengal,2024,4,734001,6432082,8996529284.00
9998,West Bengal,2024,4,733134,6313560,10502594688.00

In [33]:
path8 =  "C:/Users/haris/.vscode/pulse/pulse/pulse/data/top/user/country/india/state/"

top_user_list = os.listdir(path8)

columns8 = {"State":[], "Year":[], "Quarter":[], "Pincodes":[], "RegisteredUser":[]}

for state in top_user_list:
        cur_State = path8+state+"/"
        top_year_list = os.listdir(cur_State)
        
        for year in top_year_list:
            cur_Year = cur_State+year+"/"
            top_file_list = os.listdir(cur_Year)
            
            for file in top_file_list:
                cur_files = cur_Year+file
                data = open(cur_files,"r")
                H = json.load(data)

                for i in H["data"]["pincodes"]:
                    name = i["name"]
                    registeredusers = i["registeredUsers"]
                    columns8["Pincodes"].append(name)
                    columns8["RegisteredUser"].append(registeredusers)
                    columns8["State"].append(state)
                    columns8["Year"].append(year)
                    columns8["Quarter"].append(int(file.strip(".json")))

top_user = pd.DataFrame(columns8)

top_user["State"] = top_user["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user["State"] = top_user["State"].str.replace("-"," ")
top_user["State"] = top_user["State"].str.title()
top_user['State'] = top_user['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

display(top_user)

                  State  Year  Quarter Pincodes  RegisteredUser
0     Andaman & Nicobar  2018        1   744103            1608
1     Andaman & Nicobar  2018        1   744101            1108
2     Andaman & Nicobar  2018        1   744105            1075
3     Andaman & Nicobar  2018        1   744102            1006
4     Andaman & Nicobar  2018        1   744104             272
...                 ...   ...      ...      ...             ...
9995        West Bengal  2024        4   733134          169596
9996        West Bengal  2024        4   700059          169448
9997        West Bengal  2024        4   711302          146034
9998        West Bengal  2024        4   700150          142151
9999        West Bengal  2024        4   711106          142077

[10000 rows x 5 columns]

In [57]:
top_user.to_csv("C:/Users/haris/phonepe project/phone_pe files/top_user.csv", index=False)

In [34]:
#Top insurance column_9

path9 = "C:/Users/haris/.vscode/pulse/pulse/pulse/data/top/insurance/country/india/state/"

top_insur_list = os.listdir(path9)

columns9 = {"State":[], "Year":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_insur_list:
        cur_State = path9+state+"/"
        top_year_list = os.listdir(cur_State)

        for year in top_year_list:
            cur_Year = cur_State+year+"/"
            top_file_list = os.listdir(cur_Year)

            for file in top_file_list:
                cur_files = cur_Year+file
                data = open(cur_files,"r")
                I = json.load(data)

                for i in I["data"]["pincodes"]:
                    entityName = i["entityName"]
                    count = i["metric"]["count"]
                    amount = i["metric"]["amount"]
                    columns9["Pincodes"].append(entityName)
                    columns9["Transaction_count"].append(count)
                    columns9["Transaction_amount"].append(amount)
                    columns9["State"].append(state)
                    columns9["Year"].append(year)
                    columns9["Quarter"].append(int(file.strip(".json")))

top_insurance = pd.DataFrame(columns9)

top_insurance["State"] = top_insurance["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_insurance["State"] = top_insurance["State"].str.replace("-"," ")
top_insurance["State"] = top_insurance["State"].str.title()
top_insurance['State'] = top_insurance['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
    
    

display(top_insurance)

,State,Year,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2020,2,744301,3,565.00
1,Andaman & Nicobar,2020,2,744104,2,513.00
2,Andaman & Nicobar,2020,2,744101,1,282.00
3,Andaman & Nicobar,2020,3,744112,9,3432.00
4,Andaman & Nicobar,2020,3,744105,7,3948.00
...,...,...,...,...,...,...
6663,West Bengal,2024,4,711101,713,750354.00
6664,West Bengal,2024,4,700091,642,969634.00
6665,West Bengal,2024,4,700150,627,761501.00
6666,West Bengal,2024,4,700039,619,787836.00
6667,West Bengal,2024,4,700156,574,888613.00

In [58]:
top_insurance.to_csv("C:/Users/haris/phonepe project/phone_pe files/top_insurance.csv", index=False)

In [36]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://dhivya10_user:Slgr1aoQEm59696HAu2lit0L5oNiDLTY@dpg-d5vgght6ubrc73cfnv5g-a.singapore-postgres.render.com/phonepe_db3"
)
try:
    conn = engine.connect()
    print("Connected successfully!")
    conn.close()
except Exception as e:
    print("Connection failed:", e)

Connected successfully!

In [ ]:
Agg_User.to_sql("agg_users", engine, if_exists="replace", index=False,chunksize=1000,      
    method='multi')

Agg_Ins.to_sql("agg_insurance", engine, if_exists="replace", index=False,chunksize=1000,      
    method='multi')
top_transaction.to_sql("top_transaction", engine, if_exists="replace", index=False,chunksize=1000,      
    method='multi')
top_insurance.to_sql("top_insurance", engine, if_exists="replace", index=False,chunksize=1000,      
    method='multi')
top_user.to_sql("top_user", engine, if_exists="replace", index=False,chunksize=1000,      
    method='multi')
map_insurance.to_sql("map_insurance", engine, if_exists="replace", index=False,chunksize=1000,      
    method='multi')
map_transaction.to_sql("map_transaction", engine, if_exists="replace", index=False,chunksize=1000,      
    method='multi')
map_user.to_sql("map_user", engine, if_exists="replace", index=False,chunksize=1000,      
    method='multi')

20608

In [47]:
df_from_sql = pd.read_sql("SELECT * from agg_users",engine)
df_from_sql

                 States Years  Quarter   Brands  user_count  Percentage
0     Andaman & Nicobar  2018        1   Xiaomi        1665        0.25
1     Andaman & Nicobar  2018        1  Samsung        1445        0.21
2     Andaman & Nicobar  2018        1     Vivo         982        0.15
3     Andaman & Nicobar  2018        1     Oppo         501        0.07
4     Andaman & Nicobar  2018        1  OnePlus         332        0.05
...                 ...   ...      ...      ...         ...         ...
6727        West Bengal  2022        1   Lenovo      330017        0.02
6728        West Bengal  2022        1  Infinix      284678        0.01
6729        West Bengal  2022        1     Asus      280347        0.01
6730        West Bengal  2022        1    Apple      277752        0.01
6731        West Bengal  2022        1   Others     2196334        0.10

[6732 rows x 6 columns]